@charset "UTF-8";

body {
    background-color: #DBCFB6;
}

h1 {
    color: #526543;
    font-size: 50px;   
}

h3 {
    color: #526543;
    font-size: 30px;  
    text-align: center; 
}

p {
    font-size: large;
}

a {
    color: #526543;
    border-style: solid;
    border-color: #526543;
    border-radius: 10px;
    text-decoration: none;
    font-size: large; 
    padding: 5px;
    text-align: center;
}

a:hover{
    background-color: #526543;
    color:#DBCFB6;
}

img {
    height: 200px; 
    width: 200px; 
    border-style: solid;
    border-color: #526543;
    border-radius: 10px;
}

#left-column {
    margin-left: 100px;
}

#middle-section {
    background-color: #E0E0E0;
    border-style: solid;
    margin-top: 30px;
    height: auto;
    width: 100%;
}

#flex-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

#flex-container-column {
    display: flex;
    flex-direction: column;
}

.dropbtn {
    background-color:#DBCFB6;
    border-style: solid;
    border-color: #526543;
    color:#526543;
    padding: 16px;
    font-size: 16px;
    width: 160px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #DBCFB6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #526543;
    border-radius: 0px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:#526543;
    color: #DBCFB6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:#526543;
    color: #DBCFB6;
}